<form action='/names' method='post'>
<h1> Welcome to Battle! </h1>
<h2> Enter your player names below </h2>
  <label for='name1'>
    Player 1:
    <input type='text' name='name1'>
  </label>
  <label for='name2'>
    Player 2:
    <input type='text' name='name2'>
  </label>
  <input type='submit' value='Submit'>
</form>